.form {
  width: attr(data-seigi-form-width px);
  height: attr(data-seigi-form-height px);
  transition:
    width,
    height cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.form-layer {
  width: 100%;
  height: 100%;
  clip-path: inset(0 round var(--radius-box));
}

.stage {
  min-width: 12rem;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  position: absolute;
  transform: translate(
    calc(100% * attr(data-seigi-stage-relative type(<number>)))
  );
}
